* {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('2.jpg');
    color: #333;
    line-height: 1.6;
}

.miperfil {
    cursor: pointer;
    padding: 10px 150px;
    font-size: 24px;
    border-radius: 15px;
    max-width: 500px;
    text-align: center;
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.cambiar-pass {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #ffffff;
    max-width: 1000px;
    margin: 150px auto 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.boton-enviar {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin: 20px 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1000px;
    margin: 20px 50px;
    padding: 10px;
}

.etiqueta {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 15px;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin: 20px 50px;
    display: inline-flex;
}

.dato {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    font-size: 20px;
    color: #333;
    margin: 10px 0px;
}

.btn-code {
    background-color: rgba(255, 107, 0, 0.5);
    border-radius: 15px;
    padding: 10px;
    width: 300px;
    margin: 20px 0 20px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.btn-code .code {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    color: #333;
    padding: 8px;
    box-sizing: border-box;
}

.btn-code .code::placeholder {
    color: rgb(0,0,0);
    opacity: 0.7;
    font-style: italic;
    font-size: 20px;
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1000px;
    margin: 20px auto;
    padding: 10px;
    margin-bottom: 5rem;
}

.boton {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.boton:hover {
    background-color: #e55d00;
}

.btn-izquierda {
    display: flex;
    margin: 0px auto;
}

.btn-derecha {
    display: flex;
    gap: 15px;
    margin: 0px auto;
}