* {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('2.jpg');
    color: #333;
    line-height: 1.6;
}

.miperfil {
    cursor: pointer;
    padding: 10px 150px;
    font-size: 24px;
    border-radius: 15px;
    max-width: 500px;
    text-align: center;
    display: flex;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.cambiar-datos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  max-width: 800px;
  margin: 150px auto 20px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
}

.etiqueta {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff6600;
  color: #fff;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  margin-bottom: 30px;
}

.datos {
    width: 65%;
}

.btn-code {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 107, 0, 0.5);
  border-radius: 15px;
  padding: 10px;
  margin: 20px auto;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn-code .code {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;
  font-size: 20px;
  color: #333;
  padding: 8px;
  box-sizing: border-box;
}

.btn-code .code::placeholder {
  color: rgb(0, 0, 0);
  opacity: 0.7;
  font-style: italic;
  font-size: 16px;
}

.code-requirements {
  background-color: rgba(0, 128, 0, 0.1);
  border: 1px solid #008000;
  border-radius: 10px;
  padding: 15px;
  margin-right: 20px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  line-height: 1.5;
}

.code-requirements p {
  color: #006400;
  font-weight: bold;
  text-align: center;
}

.envio-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  max-width: 500px;
  width: 100%;
}

.enviar-btn {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.enviar-btn:hover {
  background-color: #218838;
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1000px;
    margin: 20px auto;
    padding: 10px;
    margin-bottom: 5rem;
}

.boton {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.boton:hover {
    background-color: #e55d00;
}

.btn-izquierda {
    display: flex;
    margin: 0px auto;
}

.btn-derecha {
    display: flex;
    gap: 15px;
    margin: 0px auto;
}